@import "./variables/dimens.css";
@import "./variables/colors.css";

@import "./components/page-header.css";
@import "./components/site-header.css";
@import "./components/footer.css";
@import "./components/images.css";
@import "./components/code-styles.css";

html {
  height: 100%;
}

html, body {
  width:100%;

  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8rem;
  color: var(--primary-font-color);
}

main, footer section {
  max-width: var(--page-content-max-width);
  padding: 0 var(--horizontal-padding);
  box-sizing: border-box;
  margin: var(--vertical-padding) auto;
}

p {
  margin-top: 0;
  margin-bottom: var(--vertical-padding);
}

a {
  color: var(--primary-link-color);
  text-decoration: underline;
  font-weight: 500;
}

button, .button {
  display: inline-block;
  min-width: 64px;
  height: 36px;

  color: var(--button-text-color);
  background-color: var(--primary-link-color);
  border: none;

  padding: 0 var(--padding);

  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  text-align: center;
  line-height: 36px;
  text-decoration: none;

  cursor: pointer;
}

button:disabled {
  background-color: var(--primary-font-color);
}

img {
  max-width: 100%;
}

ol, ul {
  padding-left: 20px;
  line-height: calc(var(--padding) * 1.5);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', cursive;
  color: var(--primary-highlight-color);
}

h1 {
  font-weight: normal;

  padding-right: 60px;
  margin: var(--horizontal-padding) 0;
}

h2 {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 500;

  padding-right: 60px;
  margin: var(--horizontal-padding) 0;
}

h3 {
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 500;

  padding-right: 60px;
  margin: calc(var(--padding) * 1.5) 0;
}

h4 {
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 500;

  padding-right: 60px;
  margin-top: calc(var(--padding) * 1.5);
  margin-bottom: var(--padding);
}

h5 {
  font-size: 1rem;
  line-height: 1;
  font-weight: bold;

  padding-right: 60px;
  margin-top: calc(var(--padding) * 1.5);
  margin-bottom: calc(var(--padding) / 2);
}

h6 {
  font-size: 0.8rem;
  line-height: 1;
  font-weight: bold;

  padding-right: 60px;
  margin-top: calc(var(--padding) * 1.5);
  margin-bottom: 0;
}

blockquote {
  font-style: italic;
  margin: var(--vertical-padding) calc(var(--horizontal-padding) / 2);
  padding: 0 calc(var(--horizontal-padding) / 2);
  border-left: solid;
  border-color: var(--primary-highlight-color);
}

table {
  width: 100%;

  margin-bottom: calc(var(--vertical-padding) / 4);
}

table, th, td {
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
}

td {
  padding: calc(var(--padding) / 4);
}

td code {
  background: inherit;
}

.u-center {
    text-align: center;
}

.side-nav__container ul {
  padding: 0;
  margin: 0 0 0 var(--padding);

  list-style-type: none;
}

.side-nav__container > ul {
  margin: 0;
}

.side-nav__container ul li a {
  display: block;
  padding: calc(var(--padding) * 0.75) var(--padding);
}

.side-nav__container .subheading {
  display: block;
  padding: 0 var(--padding);
}

header {
  width: 100%;
  background-color: var(--primary-bg-highlight-color);
  box-sizing: border-box;
  padding: calc(var(--vertical-padding) * 2) var(--horizontal-padding);
  color: var(--primary-highlight-color);
}

header h1, header h2, header h3 {
  max-width: calc(var(--page-content-max-width) - calc(var(--horizontal-padding) * 2));
  margin: 0 auto;
  padding: 0;
}

header h1 {
  font-size: 2.4rem;
  line-height: 2.6rem;
}


main > h1:first-of-type {
  display: none;
  width: 0;
  height: 0;
  visibility: hidden;
}


.front-page header {
  padding: calc(var(--vertical-padding) * 3) var(--horizontal-padding);
}

.front-page header h1, .front-page header h2 {
  max-width: calc(var(--page-content-max-width) - calc(var(--horizontal-padding) * 2));
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  background-color: var(--primary-bg-highlight-color);
  font-size: 4rem;
  line-height: 4.4rem;
}

.front-page .author {
  text-align: center;
}

.book-toc {
  list-style: none;
}

.book-toc li {
  margin-bottom: 1rem;
}

.book-toc li a {
  text-decoration: none;
}

.page-nav-next, .page-nav-prev {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: calc(var(--horizontal-padding) - 16px);
  height: 60%;
  padding: 8px;
  top: 20%;
  justify-content: center;
}

.page-nav-next {
  right: 0;
}

.page-nav-prev {
  left: 0;
}

.alpha-banner {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background-image: url('/images/jekyll/alpha-banner.svg');
}
