.page-header {
  --page-header-height: calc(var(--padding) * 4);

  height: var(--page-header-height);

  display: flex;
  flex-direction: row;

  background-color: #37474f;
  color: white;

  padding: 0;
}

.page-header .menu-btn {
  width: var(--menu-button-height);
  height: var(--menu-button-height);
  min-width: auto;
  background: none;
  border: none;

  padding: calc(calc(var(--menu-button-height) - var(--menu-button-svg-size)) / 2);
}

.page-header .menu-btn svg {
  width: var(--menu-button-svg-size);
  height: var(--menu-button-svg-size);
}

.page-header h1 {
  width: 100%;
  font-size: 13px;
  line-height: var(--page-header-height);

  margin: 0;
  padding-right: var(--horizontal-padding);
}
