@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

@import "./variables/dimens.css";
@import "./variables/colors.css";

@import "./components/page-header.css";
@import "./components/site-header.css";
@import "./components/footer.css";
@import "./components/code-styles.css";

html, body {
  width:100%;

  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 2em;
  color: var(--primary-font-color);
}

main {
  max-width: 720px;
  padding: var(--horizontal-padding);
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-top: 0;
  margin-bottom: var(--vertical-padding);
}

a {
  color: var(--primary-link-color);
  text-decoration: none;
  font-weight: 500;
}

button, .button {
  display: inline-block;
  min-width: 64px;
  height: 36px;

  color: var(--button-text-color);
  background-color: var(--primary-link-color);
  border: none;

  padding: 0 var(--padding);

  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  text-align: center;
  line-height: 36px;

  cursor: pointer;
}

ol, ul {
  padding-left: 20px;
  line-height: calc(var(--padding) * 1.5);
}

h1 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;

  padding-right: 60px;
  margin: var(--horizontal-padding) 0;
}

h2 {
  font-size: 16px;
  font-weight: 500;

  padding-right: 60px;
  margin: var(--horizontal-padding) 0;
}

h3 {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;

  padding-right: 60px;
  margin: calc(var(--padding) * 1.5) 0;
}

h4 {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;

  padding-right: 60px;
  margin-top: calc(var(--padding) * 1.5);
  margin-bottom: var(--padding);
}

h5 {
  font-size: 12px;
  line-height: 25px;
  font-weight: bold;

  padding-right: 60px;
  margin-top: calc(var(--padding) * 1.5);
  margin-bottom: calc(var(--padding) / 2);
}

h6 {
  font-size: 12px;
  line-height: 25px;
  font-weight: bold;

  padding-right: 60px;
  margin-top: calc(var(--padding) * 1.5);
  margin-bottom: 0;
}

table {
  width: 100%;

  margin-bottom: calc(var(--vertical-padding) / 4);
}

table, th, td {
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
}

td {
  padding: calc(var(--padding) / 4);
}

td code {
  background: inherit;
}

.u-center {
    text-align: center;
}

.side-nav__container ul {
  padding: 0;
  margin: 0 0 0 var(--padding);

  list-style-type: none;
}

.side-nav__container > ul {
  margin: 0;
}

.side-nav__container ul li a {
  display: block;
  padding: calc(var(--padding) * 0.75) var(--padding);
}

.side-nav__container .subheading {
  display: block;
  padding: 0 var(--padding);
}
