/* H/T http://callmenick.com/post/css-toggle-switch-examples */
.toggle-switch {
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.toggle-switch input + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.toggle-switch input + label {
  padding: 2px;
  width: 60px;
  height: 34px;
  background-color: #dddddd;
  border-radius: 30px;
  transition: background 0.4s;
  box-sizing: border-box;
}
.toggle-switch input + label:before,
.toggle-switch input + label:after {
  display: block;
  position: absolute;
  content: "";
}
.toggle-switch input + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 30px;
  transition: background 0.4s;
}
.toggle-switch input + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 26px;
  background-color: #dddddd;
  border-radius: 22px;
  transition: margin 0.4s, background 0.4s;
}
.toggle-switch input:checked + label {
  background-color: #8ce196;
}
.toggle-switch input:checked + label:after {
  margin-left: 26px;
  background-color: #8ce196;
}
.toggle-switch input:disabled + label {
  opacity: 0.4;
}

.message {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  vertical-align: top;
}

td.endpoint {
  word-break: break-all;
}

.push-content-text {
  display: block;
  width: 100%;
  margin-bottom: 16px;
}
